@use "../../styles/variables";

.header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: variables.$base-background-color;
    box-shadow: 2px 3px 2px -2px rgba(variables.$color-black, 0.4);
    z-index: 99999;

    .navbar {
        display: block;
        padding: 0 1rem;
        max-width: variables.$base-max-width;
        margin: 0 auto;

        .navbar-toggler {
            border-radius: 50%;
            border-color: variables.$color-secondary;
            width: 50px;
            height: 50px;

            .navbar-toggler-icon {
                width: 1.2em;
                height: 1.2em;
            }
        }

        .nav-link {
            color: variables.$color-black !important;
        }

        .nav-link:hover {
            color: variables.$color-secondary !important;
        }

        .nav-link.active {
            color: variables.$color-secondary !important;
            border-bottom: 3px solid variables.$color-primary;
        }

        .dropdown {
            display: flex;
            gap: 5px;

            .dropdown-menu.show {
                position: absolute;
                top: 35px;
                left: 55px;
            }

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }
}

.footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(134, 188, 134);
    padding: 1rem 0;
    gap: 1rem;
    z-index: 100;
    //position: sticky;

    p {
        margin: 0;
    }
}
