@use "./variables";

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: variables.$base-text-color;
	background: variables.$base-background-color;
	font: #{variables.$font-size-base}/#{variables.$line-height-base} variables.$base-font-family;
	min-width: variables.$base-min-width;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// adaptive images
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
