@use "./variables";

// Typography
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: variables.$headings-font-family;
	font-weight: bold;
	margin: 0 0 0.5em;
	color: variables.$headings-color;
}

h1,
.h1 {
	font-size: variables.$h1-font-size;
}

h2,
.h2 {
	font-size: variables.$h2-font-size;
}

h3,
.h3 {
	font-size: variables.$h3-font-size;
}

h4,
.h4 {
	font-size: variables.$h4-font-size;
}

h5,
.h5 {
	font-size: variables.$h5-font-size;
}

h6,
.h6 {
	font-size: variables.$h6-font-size;
}

p {
	margin: 0 0 1em;
}

a {
	text-decoration: none;
	color: variables.$color-black;

	&:hover {
		color: variables.$color-primary;
	}
}
