.wrapper .home-subheader img {
    max-width: unset;

}

.home {

    .home-subheader {
        display: grid;
        grid-template:"container";
        place-items: center;
        place-content: center;

        * {
            grid-area: container;
        }                

        img {
            filter: brightness(60%);
            z-index: -1;       
            width: 100%;
            height: auto;
            object-fit: cover;            
        }

        .home-greeting, .btn-primary {
            color: white;
            text-align: center;
        }

    }

    main-home {
        margin-bottom: 2rem;
    }

    .my-adventures, .explore, .favourites {
        margin-top: 2rem;
    }

    .horizontal-scroll{
        display: flex;
        flex-flow: row nowrap;
        gap: 2.8rem;
        overflow-x: scroll;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .block-narrow {
        aspect-ratio: 1/1;
        width: calc((1200px - 2.8rem * 3) * 0.25);
        background-image: url(https://firebasestorage.googleapis.com/v0/b/adventurebc-bug-hunters.appspot.com/o/MyAdventures-%20Activity.png?alt=media&token=00dc878c-9197-4632-a66e-2dcf15342f8c);
        /* background-color: #aaa; */
        margin-bottom: 1rem;
    }

    .block-wide {
        aspect-ratio: 1/1;
        width: calc((1200px - 2.8rem * 1) * 0.5);
        background-image: url(https://firebasestorage.googleapis.com/v0/b/adventurebc-bug-hunters.appspot.com/o/MyAdventures-%20Activity.png?alt=media&token=00dc878c-9197-4632-a66e-2dcf15342f8c);
        background-repeat: no-repeat;
        background-size: cover;
        /* background-color: #aaa; */
        margin-bottom: 1rem;
    }

}