@use "../../styles/variables";

.home {
    .home-subheader {
        display: grid;
        grid-template: "container";
        place-items: center;
        place-content: center;

        * {
            grid-area: container;
        }

        img {
            filter: brightness(70%);
            z-index: -1;
            max-height: 50vh;
            width: 100vw;
            object-fit: cover;
            object-position: top;
        }

        .home-greeting,
        .btn-primary {
            color: white;
            text-align: center;
        }
    }

    .main-home {
        margin-bottom: 2rem;
        max-width: variables.$base-max-width;
        margin: 0 auto;
    }

    .my-adventures,
    .explore{
        padding: 0 1rem;
    }

    .my-adventures,
    .explore,
    .favourites {
        margin-top: 2rem;
    }

    .my-adventures {
        //padding: 0 1rem;

        .add-adventure {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: rgba(255, 255, 255, 0.4)
                url(https://firebasestorage.googleapis.com/v0/b/adventurebc-bug-hunters.appspot.com/o/adventures%2FADVENTURE3.jpg?alt=media&token=5ec7050f-c139-4b73-bd81-50c68b8d9229);
            background-size: cover;
            background-blend-mode: lighten;

            &:hover {
                background-color: rgba(variables.$color-black, 0.2);
            }

            .fa-plus {
                font-size: 32px;
                background-color: variables.$color-secondary;
                width: 32px;
                height: 32px;
                color: variables.$color-white;
                border-radius: 50%;
                padding: 0.5rem;
                z-index: 2;
            }
        }
    }

    .horizontal-scroll {
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
        overflow-x: auto;
        margin: 1rem 0;
        padding: 0.2rem;
    }

    .block-narrow {
        aspect-ratio: 1/1;
        width: calc((1200px - 2rem * 3) * 0.25);
        margin-bottom: 1rem;
    }

    .block-wide {
        aspect-ratio: 1/1;
        width: calc((1200px - 2rem * 2) * 0.33);
        margin-bottom: 1rem;
    }

    .activity {
        position: relative;
        box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2), -1px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        overflow-y: hidden;
        overflow-x: hidden;
        cursor: pointer;

        h3 {
            font-size: 18px;
            font-weight: bold;
            padding: 0.5rem;
            letter-spacing: -0.5px;
            margin: 0;
        }

        p {
            padding: 0 0 0.5rem 0.5rem;
            margin: 0;
        }

        .fa-heart {
            font-size: 1.8rem;
            color: white;
            position: absolute;
            top: 0.5rem;
            right: 0.7rem;
        }

        .fav {
            color: variables.$color-favourite;
        }
    }

    @media screen and (max-width: 700px) {
        .main-home {
            margin: 0 2%;

            .horizontal-scroll {
                display: flex;
                flex-flow: row nowrap;
                gap: 2rem;
                overflow-x: auto;
                margin-bottom: 1rem;
                margin-top: 1rem;
            }

            .activity-frame {
                max-width: 100%;
            }

            .block-narrow {
                aspect-ratio: 1/1;
                width: calc((1200px - 2rem * 3) * 0.25);
                margin-bottom: 1rem;
            }

            .block-wide {
                aspect-ratio: 1/1;
                width: calc((1200px - 2rem * 3) * 0.25);
                margin-bottom: 1rem;
            }
        }
    }

    .modalWrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 102;
        background-color: rgba(0, 0, 0, 0.25);
        opacity: 0;
        pointer-events: none;
    }

    .modalActivity {
        position: relative;
        // Redo this calculation, maybe just unstick the footer?
        top: calc(50% - (100vh - 30%) / 1.8);
        left: calc(50% - 1000px / 2);
        width: 1000px;
        max-height: calc(100vh - 15%);
        overflow-y: auto;
        background-color: #fff;
        border-radius: 25px;
        box-shadow: 7px 7px 15px 3px rgba(0, 0, 0, 0.5);

        .modalHeader {
            display: grid;
            grid-template: "container";

            div {
                grid-area: container;
                place-self: start;
                padding-top: 1rem;
                padding-left: 1rem;
                z-index: 20;
                font-size: 1.6rem;
                color: variables.$color-black;
                cursor: pointer;

                .fa-xmark {
                    filter: drop-shadow(0px 0px 2px white);
                }
            }

            h2 {
                padding: 0.5rem 1rem;
                background-color: rgba(variables.$color-black, 0.6);
                border-radius: 5px;
                color: variables.$color-white;
                grid-area: container;
                place-self: center;
                z-index: 10;
            }

            img {
                border-radius: 10px 10px 0 0;
                grid-area: container;
                width: 100%;
                object-fit: cover;
                max-height: 300px;
            }
        }

        .modalMain {
            padding: 1rem 3% 2rem 3%;

            .btn {
                display: block;
                margin: 0 auto;
            }

            .city-rating-price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0rem 3rem;

                .cityTag {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    gap: 0.5rem;
                }

                /*                 #rating {
                    height: 1.5rem;
                    width: 100px;
                    background-color: #ccc;
                    text-align: center;
                }

                #intakePrice {
                    height: 1.5rem;
                    width: 100px;
                    background-color: #ccc;
                    text-align: center;
                } */
            }

            h3 {
                margin: 1rem 0;
                padding: 0;
                font-size: 1.5rem;
            }

            .horizontal-scroll {
                gap: 75px;
                padding-bottom: 0.7rem;
                gap: 25px;
                overflow-x: auto;

                .tip {
                    display: grid;
                    grid-template: "container2";

                    * {
                        grid-area: container2;
                    }

                    p {
                        background-color: rgba(variables.$color-black, 0.6);
                        color: variables.$color-white;
                        padding: 1rem 0;
                        width: 100%;
                        place-self: end center;
                        text-align: center;
                        margin-bottom: 0;
                    }

                    img {
                        height: 100%;
                        min-height: 250px;
                        min-width: 300px;
                        object-fit: cover;
                    }
                }

                .place-holder {
                    height: 150px;
                    width: 150px;
                    background-color: #ccc;
                    flex: 1 0 20%;
                }
            }

            #mapLongLat {
                iframe {
                    width: 100%;
                    min-height: 350px;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .showActivity {
        opacity: 1;
        pointer-events: auto;
    }

    @media screen and (max-width: 1000px) {
        .modalActivity {
            position: relative;
            // Redo this calculation, maybe just unstick the footer?
            top: calc(50% - (100vh - 30%) / 1.8);
            left: 2%;
            width: 96%;
            max-height: 85%;
            overflow-y: auto;
            background-color: #fff;
            border-radius: 25px;
            box-shadow: 7px 7px 15px 3px rgba(0, 0, 0, 0.5);
        }
    }

    @media screen and (max-width: 700px) {
        .modalActivity {
            position: relative;
            // Redo this calculation, maybe just unstick the footer?
            top: 80px;
            left: 2%;
            width: 96%;
            max-height: 85%;
            overflow-y: auto;
            background-color: #fff;
            border-radius: 25px;
            box-shadow: 7px 7px 15px 3px rgba(0, 0, 0, 0.5);
        }
    }
}
