.welcome {
    height: 100vh;
    background: url("https://firebasestorage.googleapis.com/v0/b/adventurebc-bug-hunters.appspot.com/o/welcome-background.jpeg?alt=media&token=131f548c-1f11-4ec4-ac1c-d14f05bf5d49")
        #f2fcf4;
    background-position: center center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .btn-groups {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    .btn-primary,
    .btn-secondary {
        color: #fff !important;
    }

    .btn-light {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .google-logo,
    .facebook-logo {
        width: 20px;
        height: 20px;
    }
}
