.welcome {
    height: 100vh;
    background: rgba(0,0,0,0.7) url("https://firebasestorage.googleapis.com/v0/b/adventurebc-bug-hunters.appspot.com/o/welcome%2Fwelcome.png?alt=media&token=d5407bdf-ee19-4ebc-93b0-a94d86824007");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    h1{
        color: white;
    }

    .btn-groups {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    .btn-primary,
    .btn-secondary {
        color: #fff !important;
    }

    .btn-light {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .google-logo,
    .facebook-logo {
        width: 20px;
        height: 20px;
    }
}
