@use "../../styles/variables";

.search {
    height: calc(100vh - 67px - 3rem);
    overflow-x: hidden;

    main {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 3rem;
        max-width: variables.$base-max-width;
        margin: 0 auto;

        .input-group-text,
        .btn-outline-secondary {
            color: variables.$green-medium;
        }

        #search {
            grid-column: 1/2;
            position: fixed;
            height: 100vh;

            #title {
                background-color: white;
                border-bottom: 1px solid variables.$green-dark;

                h2 {
                    padding-bottom: 0.7rem;
                    margin-bottom: 0;
                }

                #close-search {
                    display: none;
                }
            }

            > div:nth-child(2) {
                background-image: linear-gradient(180deg, variables.$green-light 80%, transparent);
                padding: 2rem 0.5rem;
                height: 100%;
            }

            form {
                display: flex;
                flex-flow: column nowrap;
                /*gap: 1rem;*/

                .input-group,
                label {
                    margin-top: 1rem;
                }

                .form-control,
                .input-group-text {
                    border-color: variables.$green-dark;
                }

                .collapse {
                    max-height: 8rem;
                    overflow-x: hidden;
                }

                #options-categ,
                #options-loc {
                    border: 1px solid variables.$green-dark;
                    border-top: none;
                    border-radius: 0.25rerm;

                    option {
                        padding: 0.5rem 1rem;
                        border-top: 1px solid variables.$green-dark;
                        background-color: white;
                    }

                    option:first-child {
                        border-top: none;
                    }

                    option:hover {
                        background-color: #d2e4d6 !important;
                        cursor: pointer;
                    }
                }

                button {
                    margin-top: 1rem;
                    display: inline;
                    color: white;
                }
            }

            #slider-labels {
                display: flex;
                justify-content: space-between;
            }
        }

        #results {
            grid-column: 2/3;

            #open-search {
                display: none;
            }

            #basic-data {
                display: flex;
                flex-flow: row wrap;
                gap: 2rem;

                .input-group {
                    width: 100%;
                    height: 18px;
                    flex: 1 0 20%;
                }

                #adventure-name {
                    background-color: variables.$color-secondary;
                    color: white;
                    font-weight: bold;
                }

                #editButton {
                    z-index: 0;
                }

                #editButton:hover {
                    background-color: #d2e4d6;
                }

                #dates {
                    flex: 1 0 20%;
                    justify-self: end;
                    display: flex;
                    //margin-bottom: 2rem;
                    justify-content: flex-end;
                    max-width: 90%;
                    margin: auto;

                    .form-control {
                        width: 100%;
                    }
                }

                #plannerBtn {
                    flex: 1 0 20%;
                    display: inline;
                    color: white;
                    height: 2.5rem;
                }
            }

            #favourites {
                .horizontal-scroll {
                    display: flex;
                    flex-flow: row nowrap;
                    overflow-x: scroll;
                    gap: 1rem;
                    padding: 0.2rem;

                    .activity {
                        flex: 0 0 30%;
                        margin-bottom: 0.5rem;
                    }
                }
            }

            #suggestions {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;

                h5 {
                    grid-column: 2/3;
                    margin-top: 20vh;
                    margin: auto;
                }

                h4 {
                    grid-column: 1/-1;
                    text-align: left;
                    max-height: 2rem;
                    justify-self: flex-start;

                    span {
                        font-weight: normal;
                        font-size: 1rem;
                    }
                }
            }

            #suggestions,
            #favourites .horizontal-scroll {
                min-height: 30vh;
                margin: 2rem auto;

                .activity {
                    position: relative;
                    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2), -1px 2px 2px 1px rgba(0, 0, 0, 0.2);
                    border-radius: 15px;
                    overflow-y: hidden;
                    overflow-x: hidden;
                    transition: background 0.5s;

                    h3 {
                        font-size: 18px;
                        font-weight: bold;
                        padding: 0.5rem;
                        letter-spacing: -0.5px;
                        margin: 0;
                    }

                    p {
                        padding: 0 0 0.5rem 0.5rem;
                        margin: 0;
                    }

                    .fa-heart {
                        font-size: 1.8rem;
                        color: white;
                        position: absolute;
                        top: 0.5rem;
                        right: 0.7rem;
                    }
            
                    .fav {
                        color: variables.$color-favourite;
                    }

                    .fa-xmark {
                        font-size: 2.5rem;
                        color: white;
                        position: absolute;
                        top: 30%;
                        right: 45%;
                        display: none;
                    }

                    .remove {
                        display: inline;
                    }

                    &:hover {
                        cursor: pointer;
                        border: 3px solid variables.$color-secondary;
                        background-blend-mode: darken;
                    }
                }

                .added {
                    background: variables.$color-item-selected;
                    border: 3px solid variables.$color-primary;
                }
            }

            #suggestions {
                justify-items: center;
                align-content: center;
            }

            #favourites {
                align-content: center;
            }
        }

        .input-group {
            .input-group-text {
                height: 1.5rem;
                background-color: white;
                border-right: 0;
            }

            .form-control {
                border-left: 0;

                :nth-child(3) {
                    padding-left: 0;
                }
            }
        }

        .form-select {
            color: gray;
        }
    }


    /* MODAL ACTIVITY SCREEN */
    .modalWrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.25);
        opacity: 0;
        pointer-events: none;
        z-index: 102;
    }

    .modalActivity {
        position: relative;
        // Redo this calculation, maybe just unstick the footer?
        top: calc(50% - (100vh - 30%) / 1.8);
        left: calc(50% - 1000px / 2);
        width: 1000px;
        max-height: 85%;
        overflow-y: scroll;
        background-color: #fff;
        border-radius: 25px;
        box-shadow: 7px 7px 15px 3px rgba(0, 0, 0, 0.5);

        .modalHeader {
            display: grid;
            grid-template: "container";

            div {
                grid-area: container;
                place-self: start;
                padding-top: 1rem;
                padding-left: 1rem;
                z-index: 20;
                font-size: 1.6rem;
                color: variables.$color-black;
                cursor: pointer;

                .fa-xmark {
                    filter:drop-shadow(0px 0px 2px white)
                }
            }

            h2 {
                padding: 0.5rem 1rem;
                background-color: rgba(0, 0, 0, 0.35);
                border-radius: 5px;
                color: variables.$color-white;
                grid-area: container;
                place-self: center;
                z-index: 10;
            }

            img {
                border-radius: 10px 10px 0 0;
                grid-area: container;
                width: 100%;
                object-fit: cover;
                max-height: 300px;
            }
        }

        .modalMain {
            padding: 1rem 3% 2rem 3%;

            .btn {
                display: block;
                margin: 0 auto;
            }

            .city-rating-price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0rem 3rem;

                .cityTag {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    gap: 0.5rem;
                }
/* 
                #rating {
                    height: 1.5rem;
                    width: 100px;
                    background-color: #ccc;
                    text-align: center;
                } */

 /*                #intakePrice {
                    height: 1.5rem;
                    width: 100px;
                    background-color: #ccc;
                    text-align: center;
                } */
            }

            h3 {
                margin: 1rem 0;
                padding: 0;
                font-size: 1.5rem;
            }

            .horizontal-scroll {
                display: flex;
                flex-flow: row nowrap;
                overflow-x: scroll;
                margin: 1rem 0;
                gap: 25px;
                padding-bottom: 0.7rem;

                .tip {
                    display: grid;
                    grid-template: 'container2';
                    
                    * {
                        grid-area: container2;
                    }

                    p {
                        background-color: rgba(variables.$color-black, 0.6);
                        color: variables.$color-white;
                        padding: 1rem 0;
                        width: 100%;
                        place-self: end center;
                        text-align: center;
                        margin-bottom: 0;
                    }

                    img {
                        height: 100%;
                        min-height: 250px;
                        min-width: 300px;
                        object-fit: cover;
                    }
                }

                .place-holder {
                    height: 150px;
                    width: 150px;
                    background-color: #ccc;
                    flex: 1 0 20%;
                }
            }

            #mapLongLat {
                iframe {
                    width: 100%;
                    min-height: 350px;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .showActivity {
        opacity: 1;
        pointer-events: auto;
    }

    @media screen and (max-width: 1000px) {
        main #results {
            #suggestions {
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                margin: 2rem auto;
            }

            #favourites {
                .horizontal-scroll {
                    .activity {
                        flex: 0 0 45%;
                    }
                }
            }
        }

        .modalActivity {
            position: relative;
            // Redo this calculation, maybe just unstick the footer?
            top: calc(50% - (100vh - 30%) / 1.8);
            left: 2%;
            width: 96%;
            max-height: 85%;
            overflow-y: scroll;
            background-color: #fff;
            border-radius: 25px;
            box-shadow: 7px 7px 15px 3px rgba(0, 0, 0, 0.5);
        }
    }

    @media screen and (max-width: 700px) {
        main {
            display: block;
            position: relative;
            margin: 0;

            #search {
                position: absolute;
                z-index: 2;
                top: 0;
                bottom: 0;
                left: 0;
                right: 1rem;
                transform: translateX(0);
                transition: all 1s;

                #title {
                    display: flex;
                    justify-content: space-between;

                    h2 {
                        padding-left: 1rem;
                        font-size: 24px;
                    }

                    #close-search {
                        display: inline;
                        color: variables.$color-primary;
                        font-size: 1.5rem;
                    }
                }

                form {
                    max-width: 80vw;
                    height: 100vh;
                    margin: auto;
                }
            }

            #search.hideBar {
                transform: translateX(-100%);
            }

            #results {
                max-width: 92vw;
                margin: auto;

                #open-search {
                    display: inline;
                    color: variables.$color-primary;
                    font-size: 1.5rem;
                }

                #basic-data {
                    max-width: 90%;
                    margin: auto;
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 1rem;

                    #dates {
                        .form-control {
                            width: 100%;
                        }
                    }

                    #plannerBtn {
                        margin-bottom: 1rem;
                    }
                }

                #suggestions,
                #favourites {
                    grid-template-columns: 1fr;
                    max-width: 100%;
                }

                #suggestions {
                    display: flex;
                    flex-flow: column nowrap;
                }

                #favourites {
                    .horizontal-scroll {
                        .activity {
                            flex: 0 0 90%;
                        }
                    }
                }
            }

            .modalActivity {
                position: relative;
                // Redo this calculation, maybe just unstick the footer?
                top: 80px;
                left: 2%;
                width: 96%;
                max-height: 85%;
                overflow-y: scroll;
                background-color: #fff;
                border-radius: 25px;
                box-shadow: 7px 7px 15px 3px rgba(0, 0, 0, 0.5);
            }
        }
    }

    @media screen and (max-width: 500px) {
        main #results #basic-data #dates {
            max-width: 100%;
            width: 100%;
        }
    }
}
