<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AdventureBC</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://firebasestorage.googleapis.com/v0/b/adventurebc-bug-hunters.appspot.com/o/favicon%2Ffavicon.jpeg?alt=media&token=a25f815e-3a86-48de-818b-50c660365ae6"
    />
  </head>
  <body>
    <div class="wrapper" id="root"></div>
  </body>
</html>
