<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AdventureBC</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://firebasestorage.googleapis.com/v0/b/adventurebc-bug-hunters.appspot.com/o/favicon%2Ffavicon.png?alt=media&token=dc183653-12f4-47c2-a273-d5f4ce04a888"
    />
    <link rel="manifest" href="./app.webmanifest">
  </head>
  <body>
    <div class="wrapper" id="root"></div>
  </body>
</html>
